.portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.portfolio__item {
    position: relative;
    display: block;
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 1.7rem;
    border: 3px solid transparent;
    transition: var(--transition);
    height: fit-content;
}

.portfolio__item:hover {
    border-color: rgba(91, 184, 221, 0.9);
    background: rgba(0, 0, 0, 0.3);
}

.portfolio__item:hover .portfolio__item-image {
    opacity: 1;
}

.portfolio__item .btn {
    padding: 3px;
    /* margin: auto; */
    /* background: red; */
}

.portfolio__item-image {
    border-radius: 0.9rem;
    overflow: hidden;
}

.portfolio__item-image img {
    border-radius: 0.9rem;
    overflow: hidden;
    margin: auto;
    display: block;
    width: 95%;
    height: 300px;
    object-fit: cover;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    /* position: absolute; */
    bottom: 0px;
    /* padding-bottom: 5%; */
    /* margin-bottom: 1rem; */
}

.techs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5px;
}

.tech-item {
    display: flex;
    word-wrap: break-word;
    background-color: rgb(0, 129, 250);
    color: white;
    margin: 3px 5px 3px 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
    line-height: 2em;
    border-radius: 5px;
}

.mobile-desc {
    display: none;
}

.info {
    position: absolute;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    font-weight: 400;
}

.portfolio__item:hover .info {
    display: block;
}



/* Media Queries MEDIUM device size */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .mobile-desc {
        display: block;
    }

}


/* Media Queries SMALL device size */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}