



.about__socials{
    margin-left: 1%;
    font-size: 1rem;
}

.about__socials a {
    margin-right: 20px;
}



/* Media Queries MEDIUM device size */
@media screen and (max-width: 1024px) {
}


/* Media Queries SMALL device size */
@media screen and (max-width: 600px) {
    
}