
header {
    /* height: 100vh; */
    padding-top: 4rem;
    /* overflow: hidden; */
    margin-bottom: 2rem;
}

.header__container {
    text-align: center;
    /* height: 100%; */
    position: relative;

}
/* call to action */
.cta {
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

/* header socials */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
/* little bar under react icon links */
.header__socials::after {
    content:'';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* image */
.me{
    width: 24rem;
    height: 30rem;
    position: relative;
    left: calc(50% - 12rem);
    margin-bottom: 4rem;
}

/* Media Queries MEDIUM device size */
@media screen and (max-width: 1024px) {
    .container {
        /* background: red; */
    }
    header {
        /* height: 100vh; */
    }
}


/* Media Queries SMALL device size */
@media screen and (max-width: 600px) {
    .container {
        /* background: blue; */
    }
    header {
        /* height: 100vh; */
    }
    .header__socials, .scroll__down {
        display:none;
    }
}