
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 0.8rem;
    position: fixed;
    left: 10px;
    bottom: 1.5rem;
    font-size: 1.3rem;
}
/* little bar under react icon links */
.header__socials::after {
    content:'';
    width: 1px;
    height: 6rem;
    background: var(--color-primary);
}

/* Media Queries MEDIUM device size */
@media screen and (max-width: 1024px) {

}


/* Media Queries SMALL device size */
@media screen and (max-width: 600px) {
    .header__socials, .scroll__down {
        display:none;
    }
}